<!-- ==================================================== BODY ==================================================== -->
<!-- start wrapper-body-01  -->
	<div id="wrapper-body-01">
<!-- start content -->
		<div id="content">
			<h1>
				About Us
			</h1>
	<!-- start chart  -->		
			<div id="chart-marketing-01"> <span class="title">6 Steps Download Free Guide:</span><br />
				
				<br />6 Steps to a Website That Gets Results<br><br>
				<span class="copy">Get the free guide <a href="http://offers.lunaweb.com/6-steps-to-a-website-that-gets-results/" target="_blank">HERE</a><br>		
				<span class="list"> design<br />coding <br />marketing<br /></span> 
					  
			</div>
	<!-- end chart  -->		
			<p>
				When LunaWeb started in 1995, the Web looked a lot different than it does today. Back then, we taught clients how to use a mouse and explained the practical and beneficial uses of email. Now we educate our clients on how to use websites to generate more leads, create better customer experiences, and create operating efficiencies.
				<br /><br />
				Our team has more than 60 years of real-world business experience, not only in web design and development, but also running businesses that grow. We use our business experience and our web know-how to help you develop a solid, goal-oriented strategy to grow your business through the web.
				<br /><br />
				We get to know your company, your brand, and your goals to make solid recommendations that can impact your bottom line. Our approach results in long-lasting relationships with our clients &mdash; an average of more than eight years.
				<br /><br />
				Take a look around and <a href="/lets-talk.php">get in touch</a> when you're ready to learn more.
			</p>
		</div>
<!-- end content -->
	</div>
<!-- end wrapper-body-01  -->	
	<div class="border-full-01">&nbsp;</div><br /><br />

<!-- ==================================================== END BODY ==================================================== -->





<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
	<div id="widgets">
		
<!-- box 01  -->	
	{include file='widget_newsletter.tpl'}
<!-- box 02  -->			
	{include file='widget_expedition.tpl'}
<!-- box 03  -->
	{include file='widget_facebook.tpl'}
	
	</div>
<!-- end widgets  -->		
	<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->