<!-- ==================================================== GENERAL ==================================================== -->
<!-- start wrapper-body-01  -->
	<div id="wrapper-body-01">
<!-- start content -->
		<div id="content">
	<!-- header-image  -->	
			<div class="header-image">
				<img src="images/businesswoman-team-02.jpg" alt="" />
			</div>
	<!-- title  -->			
			<h1>
				Lorem Ipsum Dolor
			</h1>
	<!-- copy  -->	
			<p>
				Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam 
				processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.<br /><br />
				
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel 
				eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
				nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. <br /><br />
			</p>			
	<!-- start chart  -->		
				<div id="chart-marketing-02">
					
					<span class="title">Lorem ipsum dolor sit amet consec tetuer adipiscing elit, sed diam nonummy</span><br /><br />
					<span class="copy">Nonum my <a href="#">euismod</a> nibh! </span><br />		
					
				</div>
	<!-- end chart  -->	
				
			<p>			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel 
				eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
				et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta 
				nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<br /><br />
				
				Typi non habent claritatem insitam; est usus 
				legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam 
				processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, 
				anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum.
					
			</p>		
		</div>
<!-- end content -->
<!-- start widgets  -->	
	<div id="widgets">
		
<!-- facebook  -->	
			{include file='widget_facebook_stream.tpl'}
	
<!-- cta    -->			
			{include file='widget_blog.tpl'}				
			
<!-- green-box  -->				
			{include file='widget_download_guide.tpl'}
		
	</div>			
<!-- end widgets  -->	

	



	</div>
<!-- end wrapper-body-01  -->	
	<div class="border-full-01">&nbsp;</div>

<!-- ==================================================== END GENERAL ==================================================== -->