<!-- ==================================================== BODY ==================================================== -->
<!-- start wrapper-body-01  -->
	<div id="wrapper-body-01">
<!-- start content -->
		<div id="content">
			<h1>
				Search Engine Optimization (SEO)
			</h1>
	<!-- start chart  -->		
			<div id="chart-marketing-01">
				
				<span class="title">Lorem ipsum dolo sit amet conscte tuer adipiscing</span><br /><br />
				<span class="copy">Nonum my <a href="#">euismod</a> nibh! </span><br />		
				<span class="list">
					design<br />	
					coding <br />	
					marketing<br />	
				</span>
			</div>
	<!-- end chart  -->		
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diamon non ummy nibh euismod tincidunt <a href="#">ut laoreet dolore magna</a> aliqupta amerat olutpat. 
				Ut wisi enim ad minim veniam, quis nostrud exerci an tation ullamcor per suscipit lobortis nisl ut aliquip ex ea commodo consequat duis autem vel eum 
				iriure dolor in hendrerit in ut wisi enim ad minim veniam, quis nostrud exerci tation. <br /><br />
				
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				Ut wisi <a href="#">enim ad minim veniam</a>, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
				iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
				odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait.<br /><br />
				
				Typi non habent claritatem insitam; est usus legentis in iis qui 
				facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, 
				qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum 
				formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.<br /><br />
				
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diamon non ummy nibh euismod tincidunt ut laoreet dolore magna aliqupta amerat olutpat. 
				Ut wisi enim ad minim veniam, quis nostrud exerci an tation ullamcor per suscipit lobortis nisl ut aliquip ex ea commodo consequat duis autem vel eum 
				iriure dolor in hendrerit in ut wisi enim ad minim veniam, quis nostrud exerci tation.  <a href="#">Dolor</a><br /><br />
				
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
				iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
				odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend 
				option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<br /><br />
				
				Typi non habent claritatem insitam; est usus legentis in iis qui 
				facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, 
				qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum 
				formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
			</p>
		</div>
<!-- end content -->
	</div>
<!-- end wrapper-body-01  -->	
	<div class="border-full-01">&nbsp;</div><br /><br />

<!-- ==================================================== END BODY ==================================================== -->





<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
	<div id="widgets">
		
<!-- box 01  -->	
	{include file='widget_newsletter.tpl'}
<!-- box 02  -->			
	{include file='widget_expedition.tpl'}
<!-- box 03  -->
	{include file='widget_facebook.tpl'}
	
	</div>
<!-- end widgets  -->		
	<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->