<!-- ==================================================== PORTFOLIO ==================================================== -->
<!-- start wrapper-body-01  -->
	<div id="wrapper-body-01">
		<h1>
			Our Work
		</h1>
			<p>
				In the past 18 years of web design and development, we have seen the Internet grow, change, and progress in ways unimagined. LunaWeb continues to innovate as we provide a streamlined Web experience for our clients and their customers which meet or exceed the latest Web standards. Please take a look around and <a href="/lets-talk.php">get in touch</a>. We would love to talk to you about your needs.
			</p><br /><br />
<!-- viewer  -->		
		<div class="viewer">
			<div id="Parallax">
				<img src="images/GatesLumber.png" />
				<img src="images/copyright-01.png" />
				<img src="images/copyright-02.png" />
			</div>
		</div>
<!-- copy  -->	
		<div class="copy">

			<h2>Gates Lumber</h2><br /> 
			
			<p>
				Gates Lumber is a family-owned custom millwork company that specializes in all types of stock, custom millwork and wood products. LunaWeb worked to highlight customer testimonials on the website while featuring an extensive line of products. <br /><br />
			</p>
			
			<h3>Services</h3> <br /> 
			
			<p>				
				Web design<br /> <br /> 
			</p>	
			
			<h3>Website</h3> <br /> 
			
			<p>				
				<a href="http://gateslumber.com/" target="_blank">http://gateslumber.com/</a>	<br /> <br /> <br /> 
				
				<a class="button" href="/our-work-pappys.php"><span>Previous</span></a><a class="button" href="/our-work-piper.php"><span>Next</span></a>
			</p>

		</div>

	</div>
<!-- end wrapper-body-01  -->	
	<div class="border-full-01">&nbsp;</div><br /><br />

<!-- ==================================================== END PORTFOLIO ==================================================== -->





<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
	<div id="widgets">
		
<!-- box 01  -->
			{include file='widget_newsletter.tpl'}	
			
<!-- box 02  -->			
			{include file='widget_expedition.tpl'}	
			
<!-- box 03  -->
			{include file='widget_facebook.tpl'}	
	
	</div>
<!-- end widgets  -->		
	<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->
