<!-- ==================================================== BODY ==================================================== -->
<!-- start wrapper-body-01  -->

<div id="wrapper-body-01">
  <!-- start content -->
  <div id="content">
    <h1> Social Media Marketing</h1>
    <!-- start chart  -->
			<div id="chart-marketing-01"> <span class="title">6 Steps Download Free Guide:</span><br />
				
				<br />6 Steps to a Website That Gets Results<br><br>
				<span class="copy">Get the free guide <a href="http://offers.lunaweb.com/6-steps-to-a-website-that-gets-results/" target="_blank">HERE</a><br>		
				<span class="list"> design<br />coding <br />marketing<br /></span> 
					  
			</div>
    <!-- end chart  -->
    <p><strong>Are you connecting with your customers and prospects beyond your website?</strong></p>
    <br />
    <p> Sixty-seven percent of Americans are using social media (<a href="http://pewinternet.org/Commentary/2012/March/Pew-Internet-Social-Networking-full-detail.aspx" target="_blank">Pew Internet Research</a>) so your customers are most likely using social media. Whether it's Facebook, LinkedIn, Twitter, or Pinterest, we can help you figure out the best way to engage in the conversation and build a better relationship with your customers.<br />
    </p><br />

    <p>As a social media agency in Memphis, LunaWeb can go beyond setting up your social media accounts. We can also: <br />
      <br />
    <ul>
      <li> Train your company's social media point person</li>
      <li>Assist you in updating your social media networks regularly</li>
      <li>Optimize your social media accounts for the search engines; and</li>
      <li>Provide social media consulting</li>
    </ul>
    </p>
    <p> <br />
      <a href="lets-talk.php">Call LunaWeb</a> for social media consulting today - in the greater Memphis area, or nationwide.</p>
  </div>
  <!-- end content -->
</div>
<!-- end wrapper-body-01  -->
<div class="border-full-01">&nbsp;</div>
<br />
<br />
<!-- ==================================================== END BODY ==================================================== -->
<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
<div id="widgets">
  <!-- box 01  -->
  {include file='widget_newsletter.tpl'}
  <!-- box 02  -->
  {include file='widget_expedition.tpl'}
  <!-- box 03  -->
  {include file='widget_facebook.tpl'}
</div>
<!-- end widgets  -->
<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->
