<!-- ==================================================== BODY ==================================================== -->
<!-- start wrapper-body-01  -->

<div id="wrapper-body-01">
  <!-- start content -->
  <div id="content">
    <h1>Website Strategy Development</h1>
    <!-- start chart  -->
			<div id="chart-marketing-01"> <span class="title">6 Steps Download Free Guide:</span><br />
				
				<br />6 Steps to a Website That Gets Results<br><br>
				<span class="copy">Get the free guide <a href="http://offers.lunaweb.com/6-steps-to-a-website-that-gets-results/" target="_blank">HERE</a><br>		
				<span class="list"> design<br />coding <br />marketing<br /></span> 
					  
			</div>
    <!-- end chart  -->
    

    <p>Every good marketing move starts with a strategy, and that strategy starts with your goals. No matter how high you're aiming, we've got the tools and know-how you need. Call to tell us where you'd like to be in a year &mdash; we'll help you build the right web strategy to get you there. </p><br />


<p>Most people agree that a strategy is important but not everyone has an active strategy in place. That's where we help. We work with business owners, leaders, and marketers to build effective web strategies. A solid online strategy includes the following clearly defined elements:</p><br />
<br />

<ul>
<li>Goals that are specific and measurable (KPIs)</li>
<li>Descriptions of your target audiences (Personas)</li>
<li>Value proposition and brand difference</li>
<li>Analysis of competitors</li>
<li>Industry overview</li>
<li>Key messages</li>
<li>Marketing tactics and channels</li>
</ul>
  </div>
  <!-- end content -->
</div>
<!-- end wrapper-body-01  -->
<div class="border-full-01">&nbsp;</div>
<br />
<br />
<!-- ==================================================== END BODY ==================================================== -->
<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
<div id="widgets">
  <!-- box 01  -->
  {include file='widget_newsletter.tpl'}
  <!-- box 02  -->
  {include file='widget_expedition.tpl'}
  <!-- box 03  -->
  {include file='widget_facebook.tpl'}
</div>
<!-- end widgets  -->
<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->
