<!-- ==================================================== BODY ==================================================== -->
<!-- start wrapper-body-01  -->
	<div id="wrapper-body-01">
<!-- start content -->
		<div id="content">
			<h1>
				Website Analytics
			</h1>
	<!-- start chart  -->		
			<div id="chart-marketing-01"> <span class="title">6 Steps Download Free Guide:</span><br />
				
				<br />6 Steps to a Website That Gets Results<br><br>
				<span class="copy">Get the free guide <a href="http://offers.lunaweb.com/6-steps-to-a-website-that-gets-results/" target="_blank">HERE</a><br>		
				<span class="list"> design<br />coding <br />marketing<br /></span> 
					  
			</div>
	<!-- end chart  -->		
			<p> 
				<strong>Website Analytics - do you know how to read and monitor them?</strong>
				<br /><br />
				The web provides a wealth of analytics, but that data can be overwhelming. We work with you to help determine what numbers are meaningful and we help you set goals based on where you are. We look at things like the number of visitors, how many people converted on your website, and what pages people are visiting. We translate that into meaningful information that helps you make good business decisions.
				<br /><br />
				We can help you understand where you are, how specific campaigns are performing, and what to do next. <a href="/lets-talk.php">Contact us</a> to start tracking your progress!
			</p>
		</div>
<!-- end content -->
	</div>
<!-- end wrapper-body-01  -->	
	<div class="border-full-01">&nbsp;</div><br /><br />

<!-- ==================================================== END BODY ==================================================== -->





<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
	<div id="widgets">
		
<!-- box 01  -->	
	{include file='widget_newsletter.tpl'}
<!-- box 02  -->			
	{include file='widget_expedition.tpl'}
<!-- box 03  -->
	{include file='widget_facebook.tpl'}
	
	</div>
<!-- end widgets  -->		
	<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->