<!-- ==================================================== BODY ==================================================== -->
<!-- start wrapper-body-01  -->
	<div id="wrapper-body-01">
<!-- start content -->
		<div id="content">
			<h1>
				What We Do
			</h1>
	<!-- start chart  -->		
			<div id="chart-marketing-01"> <span class="title">6 Steps Download Free Guide:</span><br />
				
				<br />6 Steps to a Website That Gets Results<br><br>
				<span class="copy">Get the free guide <a href="http://offers.lunaweb.com/6-steps-to-a-website-that-gets-results/" target="_blank">HERE</a><br>		
				<span class="list"> design<br />coding <br />marketing<br /></span> 
					  
			</div>
	<!-- end chart  -->		
			<p>
				"What does LunaWeb do?" 
				<br /><br />
				We get asked that a lot. In short, we help business owners, management, and marketers get results through their website. Results depend on your goals, timeline, budget, audience, and what you've already done (or haven't done). We take care of the details so you can concentrate on doing what you do best.
				<br /><br />
				Here's a quick list of what we do for our clients:
				<br /><br />
				<ul>
					<li>Design and develop websites that look great and accomplish a business need.</li>
					<li>Develop effective marketing strategies targeted to your audiences.</li>
					<li>Increase your website traffic though search engine optimization (SEO), pay per click (PPC) advertising.</li>
					<li>Create great content for your blog and website.</li>
					<li>Engage your audiences through social media channels such as Twitter, LinkedIn, and Facebook.</li>
					<li>Inform customers and stay top of mind through email marketing campaigns designed to educate your audiences and draw them back to your website.</li>
					<li>Convert website visitors to leads (and ultimately to customers) through enticing offers (such as e-books), landing pages, calls-to-action (CTAs).</li>
					<li>Lead nurturing email campaigns.</li>
					<li>Measure the results and ROI which we report monthly.</li>
					<li>Provide ongoing support for your website through website hosting and website maintenance.</li>
				</ul>
			</p>
		</div>
<!-- end content -->
	</div>
<!-- end wrapper-body-01  -->	
	<div class="border-full-01">&nbsp;</div><br /><br />

<!-- ==================================================== END BODY ==================================================== -->





<!-- ==================================================== CTA ==================================================== -->
<!-- start widgets  -->
	<div id="widgets">
		
<!-- box 01  -->	
	{include file='widget_newsletter.tpl'}
<!-- box 02  -->			
	{include file='widget_expedition.tpl'}
<!-- box 03  -->
	{include file='widget_facebook.tpl'}
	
	</div>
<!-- end widgets  -->		
	<div class="border-full-01">&nbsp;</div>
<!-- ==================================================== END CTA ==================================================== -->