#widgets
	{
	float:left;
	display:inline-block;
    width:262px; 
    
    margin-left:29px;
	
	
	}
	
#widgets .box,
#widgets .box:first-child 
	{
		margin-left: 0px;
	}
	
#widgets .green-box 
	{
		padding-left: 0px;
	}
	
	
#wrapper-body-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:920px; 
    	
	padding-top:40px;
	padding-right:20px;
   	padding-left:20px;
	padding-bottom:40px;
	}
	
#wrapper-body-01 #content
	{
	width: 608px;
	float: left;
	border-right:1px solid #e7e7e7;
	padding-right:20px;
	}

#wrapper-body-01 #chart-marketing-02 
	{
	float: left;
	}
	
#wrapper-body-01 .header-image
	{
	float:left;
	display:block;
	
	margin-bottom:30px;
	}