body {

}

#Parallax 
	{
	height: 446px;
	overflow: hidden;
	position: relative;
	width: 595px;
	
	border-left:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	}

#Parallax img 
	{
	position: absolute;
	top: 0;
	left: 0;
	}