/* ===================================   PORTFOLIO   =================================== */


#wrapper-body-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:920px; 
    	
	padding-top:0px;
	padding-right:20px;
   	padding-left:20px;
	padding-bottom:40px;
	}
	
#wrapper-body-01 .copy p
	{
	color:#373737;
	font:13px/17px 'Open Sans', sans-serif; 
	font-weight:300;
	}

#wrapper-body-01 h1
	{
	display:block;
	
	margin-top:35px;
	margin-bottom:36px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#wrapper-body-01 h2
	{
	display:block;
	
	color:#3885b9;
	font:18px/20px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#wrapper-body-01 h3
	{
	display:block;
	
	color:#000;
	font:15px/18px 'Open Sans', sans-serif; 
	font-weight:400;
	}
	
#wrapper-body-01 .viewer
	{
	float:left;
	display:block;
	
	margin-top:4px;
	
	width:628px;
	height:451px;
	
    background:url('bg-portfolio-parallax-01.gif') no-repeat top left;
	border-right:1px solid #e7e7e7;
	}
	
#wrapper-body-01 .copy
	{
	float:left;
	display:block;
	
	width:262px;
	height:451px;
	
	padding-left:29px;
	}
	
#widgets .green-box 
	{
	padding-left: 20px;
	}