@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext);
   
/* ===================================   GLOBAL SETTINGS   =================================== */

*
	{
    margin:0;
    padding:0;
    outline:0;
	}

body 
	{
    height:100%;
    color:#000;
    font-family:'Open Sans', sans-serif;
	font-weight:400;
	}

h1
	{
	display:block;
	
	margin-top:35px;
	margin-bottom:34px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
a,
a:link,
a:visited 
	{
    color:#88b103;
    text-decoration:underline;
        
    -webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    -ms-transition:color 0.2s linear;
    -o-transition:color 0.2s linear;
    transition:color 0.2s linear;
	}

a:focus,
a:hover 
	{
    text-decoration:underline;
    color:#3885b9;
	}

a.nostyle 
	{ text-decoration:none; }
a.nostyle:focus 
	{ text-decoration:none; }
a.nostyle:hover 
	{ text-decoration:none; }

sup 
	{ font-size:9px; }

a img 
	{ border:0 }
	
strong 
	{ font-weight:bold }
	
em 
	{ font-style:italic; }
	
.left { float:left }
.right { float:right }
.clear { clear:both }

.border { border:1px solid #ffd985; }

/* --- border --- */

.border-full-01
	{ 
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:100%; 
	height:1px;    
    border-top:1px solid #e7e7e7;
	}
	
/* --- button --- */

.button
	{
    display:block;
    float:left;
    height:35px; 

	cursor: pointer;
	
    font:15px 'Open Sans', sans-serif;
    font-weight:400;
    line-height:29px; 
    text-decoration: none;
    
    
    padding-left:10px; /* Width of left menu image */

    background:transparent url('bg-button-light-left-01.png') no-repeat top left;
	}

.button 
	{
    text-decoration:none;
    color:#fff;
	}


.button:focus,
.button:hover
	{
    text-decoration:none;
    color:#ccc;
	}

.button span
	{
	margin-right:3px;	
		
    display: block;
    height: 35px; 

    padding: 3px 15px 4px 4px;

    background: transparent url('bg-button-light-right-01.png') no-repeat top right;
	}

/* ===================================   BACKGROUND   =================================== */

#wrapper-home-01 
	{
	margin:auto;
    position:relative;
    overflow:hidden;

	width:100%;   

    background:#fff url('bg-header-02.jpg') repeat-x top center;
	}

#wrapper-interior-01 
	{
	margin:auto;
    position:relative;
    overflow:hidden;

	width:100%;   

    background:url('bg-header-03.jpg') repeat-x top center;
	}

/* ===================================   HEADER   =================================== */

/* -------- home -------- */

#wrapper-header-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:960px; 	
 
    height:481px;

    background:url('bg-header-01.jpg') repeat-x top center;
	}

#wrapper-header-01 .logo-01 
	{
	float:left;

	margin-top:20px;
	margin-right:0px;
   	margin-left:20px;
	margin-bottom:0px;
	}

#wrapper-header-01 .cta 
	{
	float:right;
	
	margin-top:20px;
	margin-right:20px;
   	margin-left:0px;
	margin-bottom:0px;
	}

#wrapper-header-01 .cta a 
	{
    display:block;
    height:21px;
    
    padding-left:31px;

	color:#fff;
	font:25px/18px 'Open Sans', sans-serif; 
	font-weight:300;
	
    text-decoration:none;  

    background:url('icon-call-01.gif') no-repeat top left;
	}
	
#wrapper-header-01 .cta.request-assessment a, 
#wrapper-header-02 .cta.request-assessment a 
	{
	background:url('icon-request-assessment.png') no-repeat top left;
	font-size: 20px;
	line-height: 20px;
	}
	
#wrapper-header-01 .cta a:focus,
#wrapper-header-01 .cta a:hover 
	{

    display:block;
    height:21px;
    
    padding-left:31px;

	color:#fff;
	font-weight:300;
	
    text-decoration:none;  
	}
	
#wrapper-header-01 .slogan 
	{
	top:70px;
	left:590px;
	
    position:absolute;		
    
    display:block;

    width:350px;    
    height:50px;

	color:#fff;
	font:37px/47px 'Open Sans', sans-serif; 
	font-weight:300;
	text-align:right;
	}
	
#wrapper-header-01 .slogan .enlarge
	{
	font:42px/47px 'Open Sans', sans-serif; 
	font-weight:300;
	}

#wrapper-header-01 .slider 
	{
	top:160px;
	left:62px;
	
    position:absolute;		
	}

/* -------- interior -------- */

#wrapper-header-02
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:960px; 	
 
    height:188px;
	}
	
#wrapper-header-02 .logo-01 
	{
	float:left;

	margin-top:20px;
	margin-right:0px;
   	margin-left:20px;
	margin-bottom:0px;
	}

#wrapper-header-02 .cta 
	{
	float:right;
	
	margin-top:20px;
	margin-right:20px;
   	margin-left:0px;
	margin-bottom:0px;
	}

#wrapper-header-02 .cta a 
	{
    display:block;
    height:21px;
    
    padding-left:31px;

	color:#fff;
	font:25px/18px 'Open Sans', sans-serif; 
	font-weight:300;
	
    text-decoration:none;  

    background:url('icon-call-01.gif') no-repeat top left;
	}
	
#wrapper-header-02 .cta a:focus,
#wrapper-header-02 .cta a:hover 
	{

    display:block;
    height:21px;
    
    padding-left:31px;

	color:#fff;
	font-weight:300;
	
    text-decoration:none;  

	}
	
#wrapper-header-02 .slogan 
	{
	top:103px;
	left:20px;
	
    position:absolute;		
    
    display:block;

    width:700px;    
    height:50px;

	color:#fff;
	font:40px/47px 'Open Sans', sans-serif; 
	font-weight:300;
	text-align:left;
	}

/* ===================================   MENU   =================================== */

#wrapper-menu-01
	{
	margin:auto;
    position:relative;
 
    width:100%; 	
 
    height:47px;

    background:#5a5a5a;
	}

#wrapper-menu-02
	{
	margin:auto;
    position:relative;
 
    width:960px; 	
	}


/* -------- menu -------- */

#wrapper-menu-02 .menu 
	{     
    float:left;
    position:relative; 
    
    height:47px;
    
    text-align:left;
	}


#wrapper-menu-02 .menu li 
	{
	float: left;
    position:relative;

    color:#fff;
    font:14px/14px 'Open Sans', sans-serif;
    font-weight:700;

    list-style-type:none;
	}
	
#wrapper-menu-02 .menu li.selected
	{
		background-color: #6F6F6F;
	}
	
#wrapper-menu-02 .menu li:hover,
#wrapper-menu-02 .menu li.selected:hover
	{
	background:#4e4e4e;
	}

#wrapper-menu-02 .menu li a 
	{
	float: left;
    height:47px;
	line-height: 47px;
	
    padding-right:10px; 
    padding-left:10px;

    color:#fff;    
    text-decoration:none;  
	}


#wrapper-menu-02 .menu li a:focus,
#wrapper-menu-02 .menu li a:hover 
	{
    color:#fff;    
    text-decoration:none;  
   
	}

#wrapper-menu-02 .menu .space-home
	{ 
	padding-left:10px;    
    }
	
#wrapper-menu-02 .menu ul li ul
	{
	display: none;
	background-color: #4E4E4E;
	position: absolute;
	top: 47px;
	z-index: 2;
	padding: 0;
	}

#wrapper-menu-02 .menu ul li ul li.selected 
	{
	background-color: #4E4E4E;
	}
	
#wrapper-menu-02 .menu ul li ul li 
	{
	display: block;
	float: none;
	border-top: 1px solid #6F6F6F;
	}
	
#wrapper-menu-02 .menu ul li ul li:first-child 
	{
	border: none;
	}

#wrapper-menu-02 .menu ul li ul li a 
	{
	display: block;
	float: none;
    height: 35px;
	line-height: 35px;
	}
	
#wrapper-menu-02 .menu ul li ul li ul li a 
	{
    height: 35px;
	line-height: 35px;
	font-weight: normal;
	}
	
	
#wrapper-menu-02 .menu ul li ul li:hover,
#wrapper-menu-02 .menu ul li ul li.selected:hover
	{	
	background-color: #5A5A5A;
	}

#wrapper-menu-02 .menu ul li ul li ul
	{
	display: none;
	background-color: #4E4E4E;
	position: absolute;
	top: 10%;
	left: 100%;
	z-index: 3;
	padding: 0;
	}
    
/* -------- social -------- */

#wrapper-menu-02 .social 
	{     
    float:right;
    position:relative; 

	margin-right:20px;

	width:290px; 
    height:47px;
    
    text-align:center;
    
    border-left:1px solid #6f6f6f;
    border-right:1px solid #6f6f6f;
	}

#wrapper-menu-02 .social .icon
	{     
	display:inline-block;
	
	margin-top:7px;
	margin-right:10px;
	margin-bottom:0px;
	margin-left:10px;
	}
	
	
/* ===================================   WELCOME   =================================== */


#wrapper-welcome-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:940px; 
    min-height:250px;
    	
	padding-top:0px;
	padding-right:20px;
   	padding-left:20px;
	padding-bottom:40px;

    /* background:#fff url('bg-marketing-chart-03.png') no-repeat bottom right; */
	}
	
#wrapper-welcome-01 h1
	{
	display:block;
	
	margin-top:35px;
	margin-bottom:34px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#wrapper-welcome-01 p
	{
	color:#373737;
	font:18px/24px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#wrapper-welcome-01 img
	{
	float:right;
	}

#wrapper-welcome-01 .green-box 
	{
	float:right;
	margin-top: 26px;
	}	
	
#wrapper-welcome-01 .green-box a.button {
	margin-left: 53px;
}

/* ===================================   SERVICES   =================================== */


#wrapper-services-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:960px; 
	}

#wrapper-services-01 .row
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:960px; 
	}

#wrapper-services-01 .box
	{
	float:left;
	overflow:hidden;
    width:320px; 
	}
	
#wrapper-services-01 .box .icon
	{
	float:left;	
		
	margin-top:40px;
	margin-right:14px;
	margin-left:14px;
	
	width:52px; 
	height:52px; 
	}

#wrapper-services-01 .copy
	{
	float:right;
	overflow:hidden;
    width:240px; 
    
	padding-top:0px;
	}
	
#wrapper-services-01 .box .copy h2
	{
	display:block;
	
	margin-top:40px;
	margin-bottom:12px;
		
	color:#3885b9;
	font:18px/24px 'Open Sans', sans-serif; 
	font-weight:300;
	text-align:left;
	}
	
#wrapper-services-01 .box .copy p
	{
	display:block;	
	
	color:#000;
	font:15px/20px 'Open Sans', sans-serif; 
	font-weight:300;
	text-align:left;
	}	
	
	
	
/* ===================================   TUBE   =================================== */


#wrapper-tube-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:960px; 
    
    text-align:center; 
	}	
	
#wrapper-tube-01 h2
	{
	display:block;
	
	margin-top:35px;
	margin-bottom:34px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
/* -------- menu -------- */

#wrapper-tube-01 .menu 
	{     
    position:relative; 
	}


#wrapper-tube-01 .menu li:first-child 
	{
    border-top:1px solid #eeeeee;
	}

#wrapper-tube-01 .menu li 
	{
	display:inline-block;
    position:relative;
    
    width:800px;

    color:#373737;
    font:18px/24px 'Open Sans', sans-serif;
    font-weight:300;

    list-style-type:none;
    
    border-bottom:1px solid #eeeeee;
	}

#wrapper-tube-01 .menu li a 
	{
	display:inline-block;
    
    
    padding-top:6px;    
    padding-right:12px; 
    padding-bottom:9px;  
    padding-left:12px;

    color:#373737;    
    text-decoration:none;  
	}


#wrapper-tube-01 .menu li a:focus,
#wrapper-tube-01 .menu li a:hover 
	{
    color:#000;    
    text-decoration:none;  
	}
	
	
/* ===================================   CTA   =================================== */


#widgets
	{
	margin:auto;
    position:relative;
    overflow:hidden;

	margin-bottom:40px;
 
    width:960px; 
    
    background:#fff url('bg-stroke-01.gif') repeat-y top center;
	}
	
#widgets .box
	{
	float:left;
	display:inline-block;
    width:269px; 
    
    margin-left:60px;

	}
	
#widgets .box:first-child
	{
	margin-left:20px;
	}
	
#widgets .box .image
	{
	margin-bottom:15px;
	width:268px;
	height:107px;
	}
	
#widgets .box h2
	{
	display:block;
	
	margin-top:30px;
	margin-bottom:15px;
		
	color:#3885b9;
	font:15px/20px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#widgets .box p
	{		
	color:#000;
	font:13px/17px 'Open Sans', sans-serif; 
	font-weight:300;
	}	

#widgets .box .form
	{
	margin-top:20px;
	}
	
#widgets .box .text-field
	{
    float:left;

	margin-right:3px;

    width:174px;  
    height:35px;

	padding-left:7px;
	
	color:#3b4143;
	font:12px/15px 'Open Sans', sans-serif; 
	font-weight:400;

    background:url('bg-form-01.png') no-repeat top left;
    
	border-width:0px;
	}
	
#widgets .box .text-field-02
	{
    float:left;

	margin-bottom:10px;
	
    width:212px;  
    height:35px;

	padding-left:7px;
	
	color:#3b4143;
	font:12px/15px 'Open Sans', sans-serif; 
	font-weight:400;

    background:url('bg-form-02.png') no-repeat top left;
    
	border-width:0px;
	}
	

#widgets .box .text-field-03
	{
    float:left;

	margin-bottom:10px;

    width:212px;  
    height:62px;

	padding-top:10px;
	padding-left:7px;
	
	color:#3b4143;
	font:12px/15px 'Open Sans', sans-serif; 
	font-weight:400;

	resize: none;
    background:url('bg-form-03.png') no-repeat top left;
    
	border-width:0px;
	
	
	}
	
#widgets .facebook.stream 
	{
	height: 585px;
	}

/* -------- cta -------- */
	
#widgets .green-box,
#wrapper-welcome-01 .green-box
	{
	display:block;
    overflow:hidden;
        
    width:241px; 

    padding-top:20px;
    padding-bottom:20px;

    
    text-align:center;
    
    background:url('bg-cta-green-01.jpg') no-repeat bottom center;
	}

#wrapper-body-01 .green-box,
#wrapper-welcome-01.green-box
	{
	float:left;
	display:inline-block;
    
    margin-top:30px;
    margin-bottom:30px;
        
    width:261px; 

    padding-top:20px;
    padding-bottom:20px;
    
    text-align:center;
    
    background:url('bg-cta-green-01.jpg') no-repeat bottom center;
	}
	
#wrapper-body-01 .green-box .title-01,
#wrapper-welcome-01 .green-box .title-01
	{
	display:block;	

    margin-bottom:20px;
		
	color:#fff;
	font:45px/45px 'Open Sans', sans-serif; 
	font-weight:300;
	}

#wrapper-body-01 .green-box .title-02,
#wrapper-welcome-01 .green-box .title-02
	{
	display:block;	
		
	color:#fff;
	font:20px/24px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#wrapper-body-01 .green-box a.button,
#wrapper-welcome-01 .green-box a.button
	{
    display:block;

    margin-top:10px;    
    
    width:100px;
    height:35px; 
    

    font:15px 'Open Sans', sans-serif;
    font-weight:400;
    line-height:29px; 
    text-decoration: none;
    
    
    padding-left:35px; /* Width of left menu image */

    background:transparent url('bg-button-download.png') no-repeat top center;
	}

	#wrapper-body-01 .green-box a.button
	{
	margin-left: 63px;
	}


/* ===================================   BODY   =================================== */


#wrapper-body-01
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:920px; 
    	
	padding-top:0px;
	padding-right:20px;
   	padding-left:20px;
	padding-bottom:47px;
	}
	
/* #wrapper-body-02
	{
	margin:auto;
    position:relative;
    overflow:hidden;
 
    width:920px; 
    	
	padding-top:0px;
	padding-right:20px;
   	padding-left:20px;
	padding-bottom:100px;
	}	 */
	
#wrapper-body-01 p
	{
	color:#373737;
	font:18px/24px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#service_wrapper-body-01 p
	{
	/* Nothing here yet! */
	}

#wrapper-body-01 h1
	{
	display:block;
	
	margin-top:35px;
	margin-bottom:34px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}

#wrapper-body-01 ul li 
	{
	color:#373737;
	font:18px/24px 'Open Sans', sans-serif; 
	font-weight:300;
	list-style: none;
	padding-left: 25px;
	background: transparent url(ul-bullet.png) 0 4px no-repeat;
	}
	
#widgets .facebook
	{
	float:left;
	display:inline-block;
    width:262px; 
	}
	

a.button 
	{
    text-decoration:none;
    color:#fff;
	}


a:focus.button,
a:hover.button 
	{
    text-decoration:none;
    color:#ccc;
	}
		
form#service_form 
	{		
	clear: left;
    color: #373737;
    display: block;
    float: left;
    font: 300 18px/20px 'Open Sans',sans-serif;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: right;
    width: 145px;
	}
	
form#service_form label span 
	{
	font-size: 12px;
	font-style: italic;
	}
		

/* ===================================   CHARTS   =================================== */

/* -------- chart 01 -------- */

#chart-marketing-01
	{

	margin-top:8px;	
	margin-left:30px;		
		
	float: right;
    overflow:hidden;
 
    width:211px; 	
    
	padding-top:30px;
	padding-right:20px;
   	padding-left:30px;
	padding-bottom:0px;

    background:url('bg-marketing-chart-02.jpg') no-repeat bottom center;
	}
	
#chart-marketing-01 h2
	{
	display:block;
	
	margin-bottom:30px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	

#chart-marketing-01 .title
	{
	color:#373737;
	font:25px/33px 'Open Sans', sans-serif; 
	font-weight:300;
	}


#chart-marketing-01 .copy
	{
	color:#373737;
	font:15px/17px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#chart-marketing-01 .list
	{
	margin-top:71px;	
	margin-right:10px;	
	margin-bottom:28px;	
		
	display: block;
		
	color:#fff;
	font:15px/40px 'Open Sans', sans-serif; 
	font-weight:300;
	
	text-align:center;
	}
	

/* -------- chart 02 -------- */

#chart-marketing-02
	{
	margin-top:8px;		
	margin-bottom:30px;	
			
    overflow:hidden;

    width:328px; 	
	    
	padding-top:40px;
	padding-right:230px;
   	padding-left:40px;
	padding-bottom:40px;

    background:url('bg-marketing-chart-01.jpg') no-repeat bottom right;
	}
	
#chart-marketing-02 h2
	{
	display:block;
	
	margin-bottom:30px;
	
	color:#3885b9;
	font:40px/42px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	

#chart-marketing-02 .title
	{
	color:#373737;
	font:25px/33px 'Open Sans', sans-serif; 
	font-weight:300;
	}


#chart-marketing-02 .copy
	{
	color:#373737;
	font:15px/17px 'Open Sans', sans-serif; 
	font-weight:300;
	}
	
#chart-marketing-02 .list
	{
	margin-top:71px;	
	margin-right:10px;	
	margin-bottom:28px;	
		
	display: block;
		
	color:#fff;
	font:15px/40px 'Open Sans', sans-serif; 
	font-weight:300;
	
	text-align:center;
	}
	
/* ===================================   LET'S TALK FORM   =================================== */
form#lets-talk
	{
	margin-top: 24px;
	}
	
form#lets-talk label 
	{
	color: #373737;
	font: 18px/20px 'Open Sans', sans-serif;
	font-weight: 300;

	display: block;
	float: left;
	width: 145px;
	text-align: right;
	margin-right: 5px;
	margin-bottom: 15px;
	clear: left;
	}

form#lets-talk label.error 
	{
	color: red;
	font: 12px/20px Arial, sans-serif;
	font-weight: 300;

	display: block;
	width: auto;
	text-align: left;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	clear: none;
	}

form#lets-talk label span 
	{
	font-size: 12px;
	font-style: italic;
	}

form#lets-talk sup.required 
	{
	color: red;
	}

form#lets-talk input,
form#lets-talk textarea 
	{
	font: 12px/18px Arial, sans-serif;
	font-weight: 300;
	
	display: block;
	float: left;
	font-size: 14px;
	width: 150px;
	height: 20px;
	}

form#lets-talk input.error,
form#lets-talk textarea.error 
	{
	border: 1px solid red;
	width: 152px;
	height: 22px;
	}

form#lets-talk textarea 
	{
	height: 200px;
	width: 300px;
	}

form#lets-talk div.form-bottom 
	{
	clear: left;
	width: 300px;
	margin-left: 150px;
	padding-top: 10px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	}

form#lets-talk div .button 
	{
	margin-left: 110px;
	}


/* ===================================   FOOTER   =================================== */

/* -------- footer -------- */

#wrapper-footer-01 {
	
    margin:auto;
    position:relative;
    overflow:hidden;

    width:960px;  
    
    margin-top:15px;
    
	padding-top:6px;
	padding-bottom:10px;
	
	color:#373737;
	font:13px/17px 'Open Sans', sans-serif; 
	font-weight:300;
	
	text-align:center;
}

#wrapper-footer-01 .logo{
	
	float: right;
	
	padding-top:10px;
	padding-right:10px;
}

#wrapper-footer-01 a, 
#wrapper-footer-01 a:link, 
#wrapper-footer-01 a:visited {
    color:#88b103;
    text-decoration:underline;
    
    padding-left:6px;
    padding-right:6px;
}

#wrapper-footer-01 a:focus, 
#wrapper-footer-01 a:hover {
    color:#3885b9;
    text-decoration:underline;
}


/* --- a NO --- */

#wrapper-footer-01 a.no
	{
    color:#373737;
    text-decoration:none;
    padding-left:0px;
    padding-right:0px;
	}

/* -------- seo -------- */

#wrapper-seo-01 {
	
    margin:auto;
    position:relative;
    overflow:hidden;

    width:960px;  
    
	padding-top:7px;
	padding-bottom:10px;
	
	color:#373737;
	font:11px/14px 'Open Sans', sans-serif; 
	font-weight:300;
	
	text-align:center;
}

#wrapper-seo-01 .block {
	display:inline-block;
	
	margin-right:15px;
	margin-bottom:50px;
	margin-left:15px;
			
	text-align:center;
}


/* ===================================   HELP   =================================== */

/*
    background-color:#00ff00;
    filter:alpha(opacity=60);
    opacity:.6;
    
    #000000 - black
    #0535ff - blue
    #ab7943 - brown
    #00fdff - cyan
    #00f800 - neon
    #ff42ff - magenta
    #ff9300 - orange
    #942292 - purple
    #ff2600 - red
    #fffb00 - yellow
    #ffffff - white
    
    
    margin:auto;
    position:relative;
    overflow:hidden;

    max-width:1110px;  
    min-width:960px;  
    height:481px;

	margin-top:0px;
	margin-right:0px;
   	margin-left:0px;
	margin-bottom:0px;
	
	padding-top:0px;
	padding-right:0px;
   	padding-left:0px;
	padding-bottom:0px;
	
	color:#fff;
	font:12px/15px 'Open Sans', sans-serif; 
	font-weight:600;

    background:url('bg-header-01.jpg') no-repeat bottom center;
    
    	-moz-border-radius: 10px;
	border-radius: 10px;
    
 */