{* Smarty *}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 

	<head>
		{include file='head.tpl'}
	</head>

	<body>

		
		<!-- start wrapper -->
		<div id="{if $homepage=='true'}wrapper-home-01{else}wrapper-interior-01{/if}">
				
		<!-- ==================================================== HEADER ==================================================== -->
			{include file='header.tpl'}
		<!-- ==================================================== END HEADER ==================================================== -->


		<!-- ==================================================== START MENU ==================================================== -->
			{include file='nav.tpl'}
		<!-- ==================================================== END MENU ==================================================== -->





		<!-- ==================================================== START BODY ==================================================== -->

			{include file=$viewFile}	

		<!-- ==================================================== END BODY ==================================================== -->



		<!-- ==================================================== START FOOTER ==================================================== -->
			{include file='footer.tpl'}
		<!-- ==================================================== END FOOTER ==================================================== -->

		</div>
		<!-- end wrapper -->
	</body>
</html>
