			<form action="http://lunacast.createsend.com/t/r/s/trdhulk/" method="post" id="newsletter-form">
				<input name="cm-trdhulk-trdhulk" type="email" class="text-field" required />
				<a class="button" href="#"><span>Submit</span></a>
			</form>
			<script type="text/javascript">
				$(document).ready(function(){
					$("#newsletter-form .button").click(function(){
						$(this).parent().submit();
					});
				});
			</script>