			<div class="box">
				<h2>Lorem Ipsum Dolor</h2>
				
				<div class="green-box">	
					<form id="contact-form" action="" method="POST">
						<input type="text" value="Enter your name here" name="name" class="text-field-02" /><br />
						<input type="text" value="Enter your email here" name="email" class="text-field-02" /><br />			
						<textarea name="comments" class="text-field-03" rows="" cols="">Enter your message here</textarea><br /><br />							
						<a class="button" href="???"><span>Send</span></a>
					</form>
				</div>
				<script type="text/javascript" src="js/jQuery/jquery.validate.min.js"></script>
			<script type="text/javascript" src="js/jQuery/additional-methods.min.js"></script>
			<script>
				$("#contact-form").validate({
					rules: {
						name: {
						  //required: true
						},
						email: {
						 //required: true,
						 //email: true
						}
					 }
				});
				
				$(document).ready(function(){
					$("#contact-form .button").click(function(){
						$("#contact-form").submit();
					});
					
					$("#contact-form input, #contact-form textarea").each(function(){
						$(this).focus(function(){
							$(this).val("");
						});
						
						$(this).blur(function(){
							$(this).val(this.defaultValue);
						});
					});
					
				});
			</script>
			</div>