			<div class="box">
				<h2>Blog</h2>
				<img src="images/man-holding-tablet-01.jpg" alt="" class="image" /><br />
				<p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonum my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br /><br />
				
				Nonum my nibh?
				<br />
				{include file='newsletter-form.tpl'}
				</p>
			</div>	