			<div class="green-box">
				<span class="title-01">6 Steps</span>
				
				<span class="title-02">
					Download <strong>Free Guide:</strong><br />
					6 steps to a Website <br />
					<strong>That Gets Results</strong>
				</span>
			
			<a class="button" href="http://offers.lunaweb.com/6-steps-to-a-website-that-gets-results/" target="_blank"><span>Download</span></a>
			
			</div>